<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="referrer" content="origin">
  <meta http-equiv="Content-Security-Policy" content="{{ .CSP }}">

  <link rel="dns-prefetch" href="https://svgs.scryfall.io">
  <link rel="preconnect" href="https://svgs.scryfall.io">

  <link rel="preload" href="style.css" as="style">
  <link rel="stylesheet" href="style.css">

  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Description }}">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://rulesraker.com">
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:description" content="{{ .Description }}">
  <meta property="og:image" content="https://rulesraker.com/card.jpg">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:description" content="{{ .Description }}">
  <meta name="twitter:image" content="https://rulesraker.com/card.jpg">
</head>

<body>
  <div class="container">
    <nav id="toc" class="toc">
      {{ range .Rules }}
        {{ if or (eq .Type "SubRule") (eq .Type "Rule") }}
          {{ continue }}
        {{ end }}
        {{ $class := "toc-part"}}
        {{ if eq .Type "Chapter" }}
          {{ $class = "toc-chapter" }}
        {{ end }}

        <div class="toc-element {{ $class }}">
          <div class="toc-number">{{ .Number }}</div>
          <div class="toc-name"><a href="#{{ .ID }}">{{ index .Body 0 }}</a></div>
        </div>
      {{ end }}
    </nav>

    <div id="content" class="content">
      <header class="header">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="toggle-toc" class="toggle-toc-button" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
        <input class="search" disabled placeholder="coming soon...">
        <div class="buffer"></div>
      </header>

      <div class="main-container">
        <main class="main">
          <h2 class="main-heading"><i>Magic: the Gathering</i> Comprehensive Rules</h2>

          <header class="rules-header text">
            <p>
              Changes may have been made to this document since its publication. You can
              download the most recent version from the <a href="{{ .RulesURL }}">Magic rules website</a>.
            </p>
            <p>
              These rules are effective as of <time datetime="{{ .EffectiveDate | formatTime "2006-01-02" }}">{{ .EffectiveDate | formatTime "January 2, 2006" }}<time>.
            </p>
            <p>
              Rulesraker is unofficial Fan Content permitted under the Fan Content
              Policy. Not approved/endorsed by Wizards. Portions of the materials used
              are property of Wizards of the Coast. ©Wizards of the Coast LLC.
            </p>
          </header>

          <article class="rules text">
            {{ range .Rules }}
              {{ template "rule.html" . }}
            {{ end }}
          </article>

          <hr>

          <footer class="credits text">
            {{ range .Credits }}
              <p>{{ . | newlineToBR }}</p>
            {{ end }}
          </footer>
        </main>
      </div>
    </div>

  </div>

  <script nonce="{{ .Nonce }}" async>
    window.onload = function() {
      var toc = document.querySelector("#toc");
      var toggleToc = document.querySelector("#toggle-toc");
      console.log(toc, toggleToc);

      toggleToc.addEventListener("click", function() {
        console.log("toggle toc");
        toc.classList.toggle("hide-toc");
      });
    };
  </script>
</body>
</html>
