<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rulesraker</title>
    <meta
      name="description"
      content="Rulesraker contains the latest Magic: the Gathering comprehensive rules in an easy to read format. It also includes fast search."
    />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      {% include "styles.css.j2" %}
    </style>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
