html {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  line-height: 1.4;

  background-color: #f5f6fa;
  color: #16161d;
}

header {
  background-color: #fff;
  border-radius: 0.5rem;

  max-width: 40rem;
  padding: 1rem;
  margin: 1rem auto;
  text-align: center;
}

h1 {
  text-decoration: underline;
}

main {
  background-color: #fff;
  border-radius: 0.5rem;

  max-width: 40rem;
  padding: 1rem;
  margin: 1rem auto;
}

a,
a:link {
  color: #bd5800;
  text-decoration: none;
}

a:hover {
  color: #ff7900;
  text-decoration: underline;
}

a:active {
  color: #ff7900;
  text-decoration: underline;
}

h2:first-of-type {
  margin-top: 0;
}

h2 {
  margin-top: 6rem;
  border-bottom: #000 solid 1px;
}

h3 {
  margin-top: 3rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@supports (text-align: justify) and (hyphens: auto) {
  p {
    text-align: justify;
    hyphens: auto;
  }
}

p.example {
  padding-left: 2rem;
}

p.subrule {
  padding-left: 1rem;
}
